<style>
    .red {
        border-radius: 120px;
        opacity: .75;
        background-color: #FF0000;
    }

    .blue {
        border-radius: 120px;
        opacity: .75;
        background-color: #0000FF;
    }
</style>

<hr />
<div ng-controller="mapController">
    <leaflet lf-center="bangkok" markers="markers" layers="layers" width="1500px" height="900px"></leaflet>
</div>


